<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hello hh with ejs 1234dsvjafidpgai
    <div>
        <img src="/images/a.jpg"/>
    </div>
</body>
</html>